* {
  padding: 0px;
  margin: 0px;
  font-family: 'metal', serif;
}

dropdown {
  display: inline-block;
  position: relative;
}

dropdowncontent {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #005f66;
}

dropdown:hover dropdowncontent {
  display: block;
}

dropdowncontent a {
  display: block;
  color: #FFFFFF;
  padding: 7px;
  text-decoration: none;
}

dropdowncontent a:hover {
  color: #FFFFFF;
  background-color: #004c52;
}

header {
  color: #FFFFFF;
  background-color: #000000;
  width: 100%;
}

header h1 {
  margin: 0 30px;
}

nav {
  background-color: #005f66;
  text-align: center;
  width: 100%;
}

nav ul li {
  margin: auto;
  padding: 0 50px;
}

nav ul li:hover {
  background-color: #004c52;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header content {
  color: #000000;
  background-color: #FFFFFF;
}

nav ul {
  display: inline-block;
}