*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}
#headertext {
  font-size: 30px;
  margin-left:10px;
  background-color: #80dde4;
  font-family: Metal;
}

#thecafe {
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #616569;
  opacity: 0.9;
  position: relative;
  width: 30%;
  height:auto;
  margin: 0 auto;
  font-size: 200%;
  top: 50px;
}
nav button {
  width: 20%;
  height: 50px;
  font-size: 17px;
  background-color: #005f66;
  color: white;
  border: 0px;
  position: absolute;
  float: left;
  cursor: pointer;
  z-index: 1;
  padding:12px;
}

#about {
  position:center;
}

nav button:hover {
  background-color: #004c52;
}

#nav-home {
  top: 66px;
  left: 0px;
}

#nav-gallery {
  top: 66px;
  left: 20%;
}

#nav-explore {
  top: 66px;
  left: 40%;
}

#nav-rooms {
  top: 66px;
  left: 60%;
}

#nav-support {
  top: 66px;
  left: 80%;
}

#nav-shops {
  top: calc(66px + 50px*1);
  left: 40%;
}

#nav-restaurants {
  top: calc(66px + 50px*2);
  left: 40%;
}

#nav-attractions {
  top: calc(66px + 50px*3);
  left: 40%;
}

#nav-facilities {
  top: calc(66px + 50px*4);
  left: 40%;
}

#nav-faq {
  top: calc(66px + 50px*1);
  left: 80%;
}

#nav-contact {
  top: calc(66px + 50px*2);
  left: 80%;
}

nav div.dropdown div.dropdown-content {
  display: none;
}

nav div.dropdown:hover div.dropdown-content {
  display: block;
}
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #004c52;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #014247;;
  color: white;
}


body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  background-color: #80dde4;
}
.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://media.architecturaldigest.com/photos/5e98962e673fda0009e63e6c/master/w_1600%2Cc_limit/BBA_Mamahuhu_01%2520(1).jpg");
  min-height: 75%;
  background-color: #3fbec7;
  top: 70px;
}

.menu {
  display: none;
  background-color: #fcfcfc;
}

#bookbutton{
  background: rgb(247, 120, 120);
  border-radius: 20px;
  padding:10px;
}

#bookbuttonpart{
  top: -20%;
}

.grey-background {
  background-color: #d7dbe0;
}

.content{
  text-align:center;
  width: 60%;
  margin: 0 auto;
  font-family: 'Raleway'; font-size: 22px;
  padding: 10px;
}

.buttons{
  background-color: #ffffff;
  
}
#drink-button{
  float:right;
}

#quotebox {
  background-color: white;
  padding:10px
  
}
p{
  padding:15px;
}

#promotions {
  display: block;
  margin: 10%;
  
}
img{
  padding: 5%;
}