/*sets up the webpage*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'metal', serif;
  z-index: 0;
}

/*sets header*/
header h1 {
  background-color: black;
  color: white;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}

/*Nav bar*/
nav button {
  width: 20%;
  height: 50px;
  font-size: 17px;
  background-color: #005f66;
  color: white;
  border: 0px;
  position: fixed;
  float: left;
  cursor: pointer;
  z-index: 1;
}

nav button:hover {
  background-color: #004c52;
}

#nav-home {
  top: 66px;
}

#nav-gallery {
  top: 66px;
  left: 20%;
}

#nav-explore {
  top: 66px;
  left: 40%;
}

#nav-rooms {
  top: 66px;
  left: 60%;
}

#nav-support {
  top: 66px;
  left: 80%;
}

#nav-shops {
  top: calc(66px + 50px*1);
  left: 40%;
}

#nav-restaurants {
  top: calc(66px + 50px*2);
  left: 40%;
}

#nav-attractions {
  top: calc(66px + 50px*3);
  left: 40%;
}

#nav-facilities {
  top: calc(66px + 50px*4);
  left: 40%;
}

#nav-faq {
  top: calc(66px + 50px*1);
  left: 80%;
}

#nav-contact {
  top: calc(66px + 50px*2);
  left: 80%;
}

nav div.dropdown div.dropdown-content {
  display: none;
}

nav div.dropdown:hover div.dropdown-content {
  display: block;
}

/*moves the main into the correct spot*/
main {
  position: relative;
  top: 116px;
  padding-bottom: 50px;
}

#title {
  text-align: center;
}

h2 {
  margin: 0px 20px;
}

details {
  margin: 0 50px;
  font-size: x-large;
}

summary:hover {
  color: #005f66;
  cursor: pointer;
}

span {
  padding: 0 10px;
  border: 1px solid black;
  margin: 30px;
}

#contact {
  padding: 0 10px;
  margin-left: 50px;
  color: white;
  background-color: #005f66;
  border: none;
  font-size: 17px;
}

#contact:hover {
  background-color: #004c52;
  cursor: pointer;
}
