/*sets up the webpage*/
* {
  margin: 0px;
  padding: 0px;
  font-family: 'metal', serif;
  z-index: 0;
}

/*sets header*/
header h1 {
  background-color: black;
  color: white;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0px;
}

/*Nav bar*/
nav button {
  width: 20%;
  height: 50px;
  font-size: 17px;
  background-color: #005f66;
  color: white;
  border: 0px;
  position: fixed;
  float: left;
  cursor: pointer;
  z-index: 1;
}

nav button:hover {
  background-color: #004c52;
}

#nav-home {
  top: 66px;
}

#nav-gallery {
  top: 66px;
  left: 20%;
}

#nav-explore {
  top: 66px;
  left: 40%;
}

#nav-rooms {
  top: 66px;
  left: 60%;
}

#nav-support {
  top: 66px;
  left: 80%;
}

#nav-shops {
  top: calc(66px + 50px*1);
  left: 40%;
}

#nav-restaurants {
  top: calc(66px + 50px*2);
  left: 40%;
}

#nav-attractions {
  top: calc(66px + 50px*3);
  left: 40%;
}

#nav-facilities {
  top: calc(66px + 50px*4);
  left: 40%;
}

#nav-faq {
  top: calc(66px + 50px*1);
  left: 80%;
}

#nav-contact {
  top: calc(66px + 50px*2);
  left: 80%;
}

nav div.dropdown div.dropdown-content {
  display: none;
}

nav div.dropdown:hover div.dropdown-content {
  display: block;
}

/*moves the main into the correct spot*/
main {
  position: relative;
  top: 116px;
  padding-bottom: 50px;
}

form {
  margin: 30px 0;
}

fieldset {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 20px;
}

#Contact,
h2,
input,
select,
textarea {
  margin: 0 20px;
}

select {
  width: 50%;
}

#Submit {
  display: block;
  width: 20%;
  margin: 10px auto;
}

input:invalid+span::after,
textarea:invalid+span::after,
select:invalid+span::after {
  position: absolute;
  content: "\2716";
  padding-left: 5px;
  color: red;
}

input:valid+span::after,
textarea:valid+span::after,
select:valid+span::after {
  position: absolute;
  content: "\2714";
  padding-left: 5px;
  color: green;
}

fieldset p {
  margin-top: 20px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.7);
}

textarea {
  padding-left: 5px;
  width: 70%;
  height: 70px;
  resize: none;
}

#date, #subject, #general {
  display: none;
}

.required::after {
  content: "*";
  color: red;
}
